.eventItem_container {
    border: 1px solid #e0e0e0;
    border-radius: 2%;
    margin: 10px;
    padding: 10px;
}

.eventItem_header {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.eventItem_image {
    flex: 1;
    width: 60px;
    height: 60px;
    border-radius: 10%;
}

.eventItem_header p {
    flex: 1;
    margin: 0 10px;
}

.eventItem_header div {
    flex: 2;
}
.eventItem_header div p{
    text-align: left;
}

.eventItem_content {
    margin-top: 10px;
}

.eventItem_content h1 {
    margin: 0;
}

.eventItem_content p {
    margin: 5px 0;
}

.eventItem_button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    background-color: #403e3f;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    justify-content: center;
}
.eventItem_iconbutton{
    margin-left: 10px;
    background-color: #f4c709;
    color: black;
    border-radius: 50%;
    padding: 5px;
}