.brightEvents_container{
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
}

.eventItems_container > * {
    flex: 1 1 calc(33.33% - 20px);
    box-sizing: border-box;
}
/*knoppen*/
.brightEvents_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}
.brightEvents_Search{
    border: 2px solid #403e3f;
    border-radius: 5px;
    display: flex; 
    align-items: center;
    background-color: #403e3f;
}
.brightEvents_Search input{
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}



/*items*/
.eventItems_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}
