.container {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
}


.event_list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 25px;
    justify-content: flex-start;
    box-sizing: border-box;
}

