/* UserDataCompleter.module.css */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  overflow: hidden;
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#location {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.error {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}

.userdatacompleter-submit-button {
  padding: 10px 20px;
  background-color: var(--main-yellow-color);
  color: #fff;
  font-size: 18px;
  font-weight: bolder;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}
